{% extends "backDev/base.html" %}

{% block title %}
Последние вакансии
{% endblock title %}

{% block nav_links %}
    {% for elem in nav %}
    {% if elem.slug %}
        <li class="nav-item">
            <a class='nav-link' href="{% url 'get_article' slug=elem.slug %}">{{elem.title}}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class='nav-link' href="{% url 'main' %}">{{elem.title}}</a>
        </li>
    {% endif %}
    
    {% endfor %}
{% endblock nav_links %}

{% block nav_links_left %}
{% for elem in nav %}
    {% if elem.slug %}
        <li class="nav-item">
            <a class='nav-link' href="{% url 'get_article' slug=elem.slug %}">{{elem.title}}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class='nav-link' href="{% url 'main' %}">{{elem.title}}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock nav_links_left %}


{% block main %}
    <h1>Последние вакансии Backend-программиста за 24 часа</h1>
    {% for vacancy in vacancies %}
        <div class='vacancy'>
            <div class='vac-title'>{{vacancy.title}}</div>
            <div>{{vacancy.company}}</div>
        </div>
    {% endfor %}
{% endblock main %}